
*{
    color: white;
    font-size: 20px;
   
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    padding-bottom: 20px;
}

header {
    background-color: s#000000;
    color: #000000;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #f30d0d;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

.animes{
    display: flex;
    width: 300ex;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer {
    position: absolute;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    

}

.IniciarSeccion{
    position: absolute;
    right: 20px;
    top: 50px;
    
    

}

.IniciarSeccion:hover{
    color: red;
}

.logo{
    margin-left: 15px;
    border-radius: 50px;
    max-width: 6%;
    height: auto;
    position: absolute;
    left: 10px;
}

.animes-1 img, .animes-2 img{
    height: 395px;
    width: 295px;
    margin: 15px;
    float: left;
}
picture{
    display: flex;
    
}
/* form{
    display: inline-block;
    font-size: x-large;
    position: absolute;
    right: 28%;
    border-top: 1px solid white;
    padding-top: 20px;
} */

form input{
    color: black;
    font-size: larger;
}

.texto{
    font-size: 70px;
}

.imagen{
    display: inline-block



}

.formulario {
    margin-top: 80px;

}